.index-container {
  height: 100%;

  .index_content {
    height: 100%;
  }

  .index-tabbar {
    .at-tab-bar {
      padding-bottom: 30px;
      background: rgba(253, 254, 255, 1);
      box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.24);
    }
  }
}