.list_index-fileContent {
  padding-bottom: 130px;
  padding-top: 10px;

  .scrollview {
    .list_index-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 15px;

      .list-item {
        width: calc(50% - 10px);
        border: 1px solid rgba(229, 229, 229, 1);
        border-radius: 10px;
        margin-bottom: 20px;

        .list-item_top {
          display: flex;
          justify-content: center;

          .list-item_image {
            width: 90%;
            height: 120px;
            margin-top: 20px;
          }
        }

        .list-item_content {
          font-size: 26px;
          display: flex;
          justify-content: space-between;
          border-top: 1px solid rgba(229, 229, 229, 1);
          padding: 20px 20px;

          .list_item-left {
            display: flex;
            align-items: center;

            .list-item_icon {
              width: 50px;
              height: 30px;
            }

            .list-item_fileName {
              padding-left: 20px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              max-width: 200px;
            }
          }
        }
      }
    }
  }
}