.set_index-container {
  height: 100%;

  .set_index-content {
    padding-top: 90px;

    .set_index-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      background-color: #f6f6f6;
      line-height: 80px;
      margin-bottom: 20px;

      .set_index-name {
        font-size: 26px;
      }
    }

    .set_index-options {
      .at-radio::before {
        border-top: none;
      }

      .at-radio::after {
        border-bottom: none;
      }
      .at-radio__option-wrap::after {
        border-top: none;
      }
    }
  }
}